html, body{
	margin:0;
	text-align: center;
	min-width: 800px;
}

a{
	text-decoration: none;
	color: black;
}


#draw{
	border: 2px solid black;
	margin:60px auto;
}

.btnContainer{
	position: relative;
	bottom: 920px;
}

p{
	display: inline-block;
}